tmp/
.DS_Store
.idea/
.vscode/

data/*
!data/server.properties

geyser/*
!geyser/geyser.sh
!geyser/config.yml

dns/*
!dns/data/bind/etc/zones/db.mco.lbsg.net
!dns/data/bind/etc/named.conf.local

backups/*